<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load static %}
<html>
<head>
    <title>Rango</title>
</head>

{% block title %}{{ category_name }}{% endblock %}
{% block body_block %}

{% if category %}
{% if pages %}
<ul>
    {% for page in pages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    <a href="add_page">Add Page</a>
</ul>
{% else %}
<strong>No pages currently in category. Please add one </strong>
<br/>
<a href="add_page">Add Page</a>
{% endif %}
{% else %}
The specified category {{ category_name }} does not exist!
{% endif %}

{% endblock %}
</html>