<!DOCTYPE html>
{% extends 'rango/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango - User Registration</title>
</head>
<!--{% block title %}Register with Rango{% endblock %}-->
{% block body_block %}

    <h1>Register with Rango</h1>
    {% if registered %}
    <strong> Thank you for registering with Rango!</strong><br /><br />
    <a href="/rango/"> Return to the homepage. </a><br />
    {% else %}
    Rango says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">
            <!--{% csrf_token %} -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}

{% endblock %}
</html>